<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h4>Vigolabs</h4>
                <div class="hline-w"></div>
                <p>Vigolabs nace como unha asociación para realizar eventos relacionado co hardware e os sectores industriais, marítimos e automovilísticos.</p>
            </div>
            <div class="col-lg-6">
                <h4>Redes sociais</h4>
                <div class="hline-w"></div>
                <p>
                    {% for network in site.social %}
                        <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-{{ network.title }}"></i></a>
                    {% endfor %}
                </p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->
