<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Hackathon Sanjurjo Badía</h1>
                <h5>Hackathon orientada a tecnoloxía hardware no mar</h5>
            </div>
        </div><!-- /row -->

        <div class="row" style="margin-top: 20px;">
            <div class="col-lg-4 col-lg-offset-4">
                <img src="{{ "/assets/img/patros/marine.png" | prepend: site.baseurl }}" class="img-responsive" style="height: 100px;">
            </div>
         </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-lg-6 col-lg-offset-3">

              <div class="row">
                  <div class="col-lg-6">
                    <img src="{{ "/assets/img/patros/r.png" | prepend: site.baseurl }}" class="img-responsive" style="height: 100px;">
                  </div>

                  <div class="col-lg-6">
                    <img src="{{ "/assets/img/patros/softwhisper.png" | prepend: site.baseurl }}" class="img-responsive" style="height: 100px;">
                  </div>
               </div>
            </div>
         </div><!--row-prata-->

        <div class="row" style="margin-top: 20px;">
            <div class="col-lg-8 col-lg-offset-2">

              <div class="row">
                  <div class="col-lg-4">
                    <img src="{{ "/assets/img/patros/ultreia.png" | prepend: site.baseurl }}" class="img-responsive">
                  </div>

                  <div class="col-lg-4">
                    <img src="{{ "/assets/img/patros/centum.png" | prepend: site.baseurl }}" class="img-responsive" style="margin-top: 30px;">
                  </div>

                  <div class="col-lg-4">
                    <img src="{{ "/assets/img/patros/ipglobal.png" | prepend: site.baseurl }}" class="img-responsive" style="margin-top: 20px;">
                  </div>
               </div>
            </div>
         </div><!--row-prata-->

    </div> <!-- /container -->
</div><!-- /headerwrap -->
