<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Hackathon Sanjurjo Badía</h1>
                <h3>27 e 28 de Febreiro do 2016 - Auditorio Mar de Vigo</h3>
                <h5>Hackathon orientada a tecnoloxía hardware no mar</h5>
            </div>
        </div><!-- /row -->

        <div class="row" style="margin-top: 20px;">
            <div class="col-lg-4 col-lg-offset-2">
                <a href="http://www.marineinstruments.es/">
                  <img src="{{ "/assets/img/patros/marine_fondo.png" | prepend: site.baseurl }}" class="img-responsive" style="height: 150px;">
                </a>
            </div>

            <div class="col-lg-4">
                <a href="https://www.abanca.com/gl/">
                  <img src="{{ "/assets/img/patros/abanca.png" | prepend: site.baseurl }}" class="img-responsive" style="margin-top:50px">
                </a>
            </div>
         </div>

        <div class="row" style="margin-top: 25px;">
            <div class="col-lg-6 col-lg-offset-3">

              <div class="row">
                  <div class="col-lg-6">
                    <a href="http://r.gal/">
                      <img src="{{ "/assets/img/patros/r.png" | prepend: site.baseurl }}" class="img-responsive" style="height: 120px;">
                    </a>
                  </div>

                  <div class="col-lg-6">
                    <a href="http://www.softwhisper.es/">
                      <img src="{{ "/assets/img/patros/softwhisper.png" | prepend: site.baseurl }}" class="img-responsive" style="height: 100px;">
                    </a>
                  </div>
               </div>
            </div>
         </div><!--row-prata-->

        <div class="row" style="margin-top: 25px;">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-12">

              <div class="row">
                  <!-- <div class="col-lg-3 col-md-3 col-sm-9 col-sm-offset-2" style="" > -->
                  <div class="col-lg-3 col-md-3 col-xs-6" style="" >
                    <a href="http://www.ultreia.es/">
                      <img src="{{ "/assets/img/patros/ultreia.png" | prepend: site.baseurl }}" class="img-responsive">
                    </a>
                  </div>

                  <!-- <div class="col-lg-3 col-md-3 col-sm-8 col-sm-offset-2" style="" > -->
                  <div class="col-lg-3 col-md-3 col-xs-6" style="" >

                    <a href="http://www.iqube.es/">
                      <img src="{{ "/assets/img/patros/centum.png" | prepend: site.baseurl }}" class="img-responsive" style="margin-top: 10px;">
                    </a>
                  </div>

                  <div class="col-lg-3 col-md-3 col-xs-6" style="" >
                  <!-- <div class="col-lg-3 col-md-3 col-sm-12" style="" > -->
                    <a href="http://www.ipglobal.es/">
                      <img src="{{ "/assets/img/patros/ipglobal.png" | prepend: site.baseurl }}" class="img-responsive" style="margin-top: 20px;">
                    </a>
                  </div>

                  <!-- <div class="col-lg-3 col-md-3 col-sm-8 col-sm-offset-2" style="" > -->
                  <div class="col-lg-3 col-md-3 col-xs-6" style="" >
                    <a href="http://bricogeek.com/">
                      <img src="{{ "/assets/img/patros/bricogeek_blanco.png" | prepend: site.baseurl }}" class="img-responsive" style="margin-top: 30px;">
                    </a>
                  </div>
               </div>
            </div>
         </div><!--row-prata-->

    </div> <!-- /container -->
</div><!-- /headerwrap -->
