<div id="twrap">
    <div id="twrapback"></div>
    <div class="container centered">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            <i class="fa fa-comment-o"></i>
            <p>Vigo se convertirá en el epicentro del desarrollo tecnológico dedicado al mundo marítimo el próximo mes de febrero. De la mano de la comunidad de desarrolladores VigoLabs, unas 100 personas se reunirán para intentar buscar soluciones enfocadas al hardware de tal forma que sirvan para empresas punteras.</p>
            <h4><br/>Faro de Vigo</h4>
            <p><a href="http://www.farodevigo.es/mar/2015/11/30/vigo-acoge-febrero-encuentro-desarrollo/1360261.html" style="color: #fff; text-decoration: underline;">Leer notícia</a></p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/twrap -->