<div id="twrap">
    <div id="twrapback"></div>
    <div class="container centered">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            <i class="fa fa-comment-o"></i>
            <p>Vigo converterase no epicentro do desenvolvemento tecnolóxico dedicado ao mundo marítimo o próximo mes de febreiro. Da man da comunidade de desenvolvedores Vigolabs, cen persoas reuniranse para intentar buscar solucións enfocadas ao hardware relacionadas co mar.
            </p>
            <h4><br/>Faro de Vigo</h4>
            <p><a href="http://www.farodevigo.es/mar/2015/11/30/vigo-acoge-febrero-encuentro-desarrollo/1360261.html" style="color: #fff; text-decoration: underline;">Leer notícia</a></p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/twrap -->
