---
layout: default
---

{% include wrap.html %}

<div class="container mtb">
    <div class="row">
        <!-- SINGLE POST -->
        <div class="col-lg-8">
            <!-- Blog Post  -->
            <p><img class="img-responsive" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ page.img }}"></p>
            <a href="{{ page.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ page.title }}</h3></a>
            <p><csmall>{{ page.date | date: "%b %-d, %Y" }}. | By: {{ page.author }}</csmall></p>

            {{ content }}

            <div class="spacing"></div>
            <h6>COMPARTIR:</h6>
            <p class="share">
                <a data-window-share href="http://twitter.com/share?text={{ page.title }}"><i class="fa fa-twitter"></i></a>
                <a data-window-share href="http://www.facebook.com/sharer.php?u={{ page.url }}&t={{ page.title }}"><i class="fa fa-facebook"></i></a>
                <a data-window-share href="https://plus.google.com/share?url={{ page.url }}"><i class="fa fa-google-plus"></i></a>
            </p>
        </div><! --/col-lg-8 -->

        {% include sidebar.html %}

    </div><!--/row -->
</div><!--/container -->
